*{

}

body{
    background-color:silver;
    text-align:center;
}
a{
    font-size:18px;
    margin-top:20px;
    margin-bottom:20px
    font-color:black;
    text-align:center;
}

a:hover{
    color:red;
}

h3{
    text-align:center;
    color:gold;
    margin-top:45px;
}

form{
    margin-top:25px;

}
.posts{
    text-align: left;
    width: 80%;
    margin-left:100px;
    background-color: gold;
    border-radius: 15px;
    padding:5px;

}

#title{
    color:red;
    
}

#date{
    color: purple;
    
}
#hidden{
    color:black;

}
